/* body { 
    animation: fadeInAnimation ease 3s; 
    animation-iteration-count: 1; 
    animation-fill-mode: forwards; 
} 
@keyframes fadeInAnimation { 
    0% { 
        opacity: 0; 
    } 
    100% { 
        opacity: 1; 
    } 
}  */
/* make keyframes that tell the start state and the end state of our object */
@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@-moz-keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.fade-in {
    opacity: 0; /* make things invisible upon start */
    -webkit-animation: fadeIn ease-in 1; /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
    -moz-animation: fadeIn ease-in 1;
    animation: fadeIn ease-in 1;

    -webkit-animation-fill-mode: forwards; /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
    -moz-animation-fill-mode: forwards;
    animation-fill-mode: forwards;

    -webkit-animation-duration: 1s;
    -moz-animation-duration: 1s;
    animation-duration: 1s;
}

.fade-in.one {
    -webkit-animation-delay: 0.7s;
    -moz-animation-delay: 0.7s;
    animation-delay: 0.7s;
}

.fade-in.two {
    -webkit-animation-delay: 1.2s;
    -moz-animation-delay: 1.2s;
    animation-delay: 1.2s;
}

.fade-in.three {
    -webkit-animation-delay: 1.6s;
    -moz-animation-delay: 1.6s;
    animation-delay: 1.6s;
}

.fade-in.four {
    -webkit-animation-delay: 2.1s;
    -moz-animation-delay: 2.1s;
    animation-delay: 2.1s;
}

.fade-in.five {
    -webkit-animation-delay: 2.5s;
    -moz-animation-delay: 2.5s;
    animation-delay: 2.5s;
}

.container {
    padding: 0;
}

table {
    max-width: 500px;
}

body {
    /* color: white; */
    background-color: whitesmoke;
}

.container {
    color: #22282a;
}

.foot {
    color: white;
    text-align: center;
}

/* .ui.header{
    font-size: 1rem;
} */
/* .ui.cards>.card>.content{
    background: rgba(255, 92, 51);
} */
/* .container>.header{
    background-color: rgb(140, 140, 140);
} */
img {
    filter: invert(100%);
}

.head {
    background-color: #22282a;
}

.ui.grid {
    margin-top: 0rem;
}

.ui.sortable.table thead th {
    background-color: #22282a;
    color: white;
}

.ui.table thead tr:first-child > th {
    position: sticky !important;
    top: 0;
    z-index: 2;
}

.time {
    opacity: 0.5;
}

.ui.table:last-child {
    margin-bottom: 2rem;
}

/* table {
    word-break: break-word;
} */
.hide {
    display: none;
}

.value .v1 , .value .v2{
     display: inline-block;
     height: 100%;
     vertical-align: top;
     width: 50%;
 }
.value .v1{
    font-size: x-large;
    text-align: left;
}

.value .v2{
    text-align: right;
}
