@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Oswald|Roboto);
body {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	font-family: "Roboto", sans-serif;
	background-color: #111111;
	overflow: hidden;
}
.bg-dark {
	background-color: #333333;
}
p.error {
	color: red;
	text-align: center;
}
.ui.basic.red.label{
	position: absolute;
	margin-top: -10px;
	margin-left: 42px;
}
.table {
	display: table;
	width: 100%;
	height: 100%;
}

.table-cell {
	display: table-cell;
	vertical-align: middle;
	-moz-transition: all 0.5s;
	-o-transition: all 0.5s;
	-webkit-transition: all 0.5s;
	transition: all 0.5s;
}

.lcontainer {
	position: relative;
	width: 600px;
	margin: 30px auto 0;
	height: 320px;
	background-color: #444444;
	top: 45%;
	margin-top: -160px;
	-moz-transition: all 0.5s;
	-o-transition: all 0.5s;
	-webkit-transition: all 0.5s;
	transition: all 0.5s;
}
.lcontainer .box {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
}
.lcontainer .box:before, .lcontainer .box:after {
	content: " ";
	position: absolute;
	left: 152px;
	top: 50px;
	background-color: #777777;
	transform: rotateX(52deg) rotateY(15deg) rotateZ(-38deg);
	width: 300px;
	height: 285px;
	-moz-transition: all 0.5s;
	-o-transition: all 0.5s;
	-webkit-transition: all 0.5s;
	transition: all 0.5s;
}
.lcontainer .box:after {
	background-color: #777777;
	top: -10px;
	left: 80px;
	width: 320px;
	height: 180px;
}
.lcontainer .container-forms {
	position: relative;
}
.lcontainer .btn {
	display: block;
	cursor: pointer;
	text-align: center;
	margin: 0 auto;
	width: 90px;
	color: #fff;
	background-color: #333333;
	opacity: 1;
	-moz-transition: all 0.5s;
	-o-transition: all 0.5s;
	-webkit-transition: all 0.5s;
	transition: all 0.5s;
}
.lcontainer .btn:hover {
	opacity: 0.7;
}
.lcontainer input {
	padding: 10px 15px;
}


.lcontainer label {
	display: block;
}
.lcontainer input {
	margin: 0 auto 15px;
	display: block;
	width: 220px;
	-moz-transition: all 0.3s;
	-o-transition: all 0.3s;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
}
.lcontainer .container-forms .container-info {
	text-align: left;
	font-size: 0;
}
.lcontainer .container-forms .container-info .info-item {
	text-align: center;
	font-size: 16px;
	width: 300px;
	height: 320px;
	display: inline-block;
	vertical-align: top;
	color: #fff;
	opacity: 1;
	-moz-transition: all 0.3s;
	-o-transition: all 0.3s;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
}
.lcontainer .container-forms .container-info .info-item p {
	font-size: 20px;
	margin: 20px;
	color: white;
}
.lcontainer .container-forms .container-info .info-item .btn {
	background-color: transparent;
	border: 1px solid #fff;
}
.lcontainer .container-forms .container-info .info-item .table-cell {
	padding-right: 35px;
}
.lcontainer .container-forms .container-info .info-item:nth-child(2) .table-cell {
	padding-left: 35px;
	padding-right: 0;
}
.lcontainer .container-form {
	overflow: hidden;
	position: absolute;
	left: 30px;
	top: -30px;
	width: 305px;
	height: 380px;
	background-color: #fff;
	box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
	-moz-transition: all 0.5s;
	-o-transition: all 0.5s;
	-webkit-transition: all 0.5s;
	transition: all 0.5s;
}
.lcontainer .container-form:before {
	content: "✔";
	position: absolute;
	left: 160px;
	top: -50px;
	color: #131313;
	font-size: 130px;
	opacity: 0;
	-moz-transition: all 0.5s;
	-o-transition: all 0.5s;
	-webkit-transition: all 0.5s;
	transition: all 0.5s;
}
.lcontainer .container-form .btn {
	position: relative;
	box-shadow: 0 0 10px 1px #111111;
	margin-top: 30px;
	padding: 0;
}

.lcontainer .container-form .btn button{
	padding: 10px 15px;
	margin: 0;
	color: white;
	border: 0;
	background: transparent;
}
.lcontainer .form-item {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	opacity: 1;
	-moz-transition: all 0.5s;
	-o-transition: all 0.5s;
	-webkit-transition: all 0.5s;
	transition: all 0.5s;
}
.lcontainer .form-item.sign-up {
	position: absolute;
	left: -100%;
	opacity: 0;
}
.lcontainer.log-in .box:before {
	position: absolute;
	left: 180px;
	top: 62px;
	height: 265px;
}
.lcontainer.log-in .box:after {
	top: 22px;
	left: 192px;
	width: 324px;
	height: 220px;
}
.lcontainer.log-in .container-form {
	left: 265px;
}
.lcontainer.log-in .container-form .form-item.sign-up {
	left: 0;
	opacity: 1;
}
.lcontainer.log-in .container-form .form-item.log-in {
	left: -100%;
	opacity: 0;
}
.lcontainer.active {
	width: 260px;
	height: 140px;
	margin-top: -70px;
}
.lcontainer.active .container-form {
	left: 30px;
	width: 200px;
	height: 200px;
}
.lcontainer.active .container-form:before {
	content: "✔";
	position: absolute;
	left: 51px;
	top: 5px;
	color: #131313;
	font-size: 130px;
	opacity: 1;
}
.lcontainer.active input, .container.active .btn, .container.active .info-item {
	display: none;
	opacity: 0;
	padding: 0;
	margin: 0 auto;
	height: 0;
}
.lcontainer.active .form-item {
	height: 100%;
}
.lcontainer.active .container-forms .container-info .info-item {
	height: 0;
	opacity: 0;
}
