<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragment/main_layout}">
<head>
    <link rel="icon" href="/images/favicon.jpg" type="image/gif" sizes="16x16">
    <title>COVID19 India Tracker</title>
    <meta name="description"
          content="COVID-19 Tracker/Predictor platform to track live spread of the virus, vizualizes the data using maps nd charts and estimate new cases."/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
    <link rel="stylesheet" href="/css/index.css">
</head>
<body th:with="httpStatus=${T(org.springframework.http.HttpStatus).valueOf(#response.status)}">
    <div th:replace="fragments/components :: header"></div>
    <h1 th:text="|${httpStatus} - ${httpStatus.reasonPhrase}|">404</h1>
    <p th:utext="${errorMessage}">Error java.lang.NullPointerException</p>
    <a href="index.html" th:href="@{/index.html}">Back to Home Page</a>
</body>
</html>