<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragment/main_layout}">
    <head>
        <link rel="icon" href="/images/favicon.jpg" type="image/gif" sizes="16x16">
        <title>COVID19 India Tracker</title>
        <meta name="description" content="COVID-19 Tracker/Predictor platform to track live spread of the virus, vizualizes the data using maps nd charts and estimate new cases."/>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
        <link rel="stylesheet" href="/css/index.css">
    </head>
<body>
<div th:replace="fragments/components :: header"></div>
<div class="ui container" >
    <div class="ui stackable grid">
        <div class="eight wide column fade-in one" th:object="${countryData}">
            <div class="ui grid">
                <h2 style="margin: 1rem auto">INDIA</h2>
                <div class="ui segment" style="width: 100%; margin: .25rem 1rem;">
                    <div class="ui medium statistics" style="margin: 0 auto;" th:object="${countryData}">
                        <div class="orange statistic" style="width: 100%;margin: 0 auto;">
                            <div class="value" th:text="*{#numbers.formatInteger(active,1,'COMMA')}">
                                growth-rate
                            </div>
                            <div class="label">
                                Active Cases
                            </div>
                        </div>
                        <div class="green statistic horizontal" style="width: 100% ;margin: .25rem auto;">
                            <div class="label">
                                <i class="icon arrow up green"></i><span th:text="*{#numbers.formatInteger(delta.recovered,1,'COMMA')}"></span>
                            </div>
                            <div class="value">
                                <span th:text="*{#numbers.formatInteger(total.recovered,1,'COMMA')}"></span>
                            </div>
                            <div class="label">
                                Recovered
                            </div>
                        </div>
                        <div class="red statistic" style="width: 100% ;margin: .25rem auto;">
                            <div class="label">
                                <i class="icon arrow up red"></i><span class="red" th:text="*{#numbers.formatInteger(delta.deceased,1,'COMMA')}"></span>
                            </div>
                            <div class="value" th:text="*{#numbers.formatInteger(total.deceased,1,'COMMA')}">
                                expectedIn5day
                            </div>
                            <div class="label">
                                Deceased
                            </div>
                        </div>
                        <div class="black statistic" style="width: 100% ;margin: .25rem auto;">
                            <div class="label">
                                <i class="icon arrow up black"></i><span class="red" th:text="*{#numbers.formatInteger(delta.confirmed,1,'COMMA')}"></span>
                            </div>
                            <div class="value" th:text="*{#numbers.formatInteger(total.confirmed,1,'COMMA')}">
                                expectedIn5day
                            </div>
                            <div class="label">
                                Total Cases
                            </div>
                        </div>
                    </div>
                    <div></div>
                    <div class="time" style="padding-top:10px; color: black; width: 100% ;text-align: center;">Last Updated: <span th:text="${countryData.lastUpdated}">last-updated</span></div>
                </div>
                <div></div>
                <h2 style="margin: 1rem auto">PREDICTIONS</h2>
                <div class="ui segment" style="width: 100%; margin: .25rem 1rem;">
                    <div class="ui small statistics" style="margin: 0 auto;">
                        <div class="grey statistic" style="width: 100%;margin: 0 auto;">
                            <div class="value" th:text="${#numbers.formatDecimal(growthRate,1,2)}">
                                growth-rate
                            </div>
                            <div class="label">
                                Growth Rate
                            </div>
                        </div>
                        <div class="grey statistic" style="width: 100% ;margin: .25rem auto;">
                            <div class="value" th:text="${#numbers.formatInteger(expectedIn24hours,3,'COMMA')}">
                                expectedIn24hours
                            </div>
                            <div class="label">
                                Expected New Cases(24 hrs)
                            </div>
                        </div>
                        <div class="grey statistic" style="width: 100% ;margin: .25rem auto;">
                            <div class="value" th:text="${#numbers.formatInteger(expectedIn5day,3,'COMMA')}">
                                expectedIn5day
                            </div>
                            <div class="label">
                                Expected New Cases(5 days)
                            </div>
                        </div>
                    </div>
                </div>


            </div>
            <div id = "chart1" class="fade-in three" style = "width: 100%; height: auto; margin: 2rem auto">
            </div>
            <div id = "chart2" class="fade-in three" style = "width: 100%; height: auto; margin: 1rem auto">
            </div>
        </div>
        <div class="eight wide column fade-in four">
            <h4>INDIA STATEWISE &nbsp &nbsp
                <div class="btn-group btn-group-toggle" data-toggle="buttons">
                    <label class="btn btn-secondary btn-sm active">
                        <input type="radio" name="options" id="option1" autocomplete="off" checked> CUMULATIVE
                    </label>
                    <label class="btn btn-secondary btn-sm">
                        <input type="radio" name="options" id="option2" autocomplete="off"> DAILY
                    </label>
                </div>
            </h4>
            <table class="ui sortable unstackable selectable celled table">
                <thead>
                <tr>
                    <th>State</th>
                    <th class="disptotal order">Confirmed</th>
                    <th class="disptotal">Active</th>
                    <th class="disptotal">Recovered</th>
                    <th class="disptotal">Deceased</th>
                    <th class="disp hide order">Confirmed</th>
                    <th class="disp hide">Recovered</th>
                    <th class="disp hide">Deceased</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="stateData : ${countryData.stateData}" th:if="${stateData.state.code != 'TT'}">
                    <td><strong th:text="${stateData.state.name}">state-name</strong></td>
                    <td class="disptotal warning"><span th:text="${#numbers.formatInteger(stateData.total.confirmed,1,'COMMA')}"></span></td>
                    <td class="disptotal active"><span th:text="${#numbers.formatInteger(stateData.active,1,'COMMA')}"></span></td>
                    <td class="disptotal positive"><span th:text="${#numbers.formatInteger(stateData.total.recovered,1,'COMMA')}"></span></td>
                    <td class="disptotal negative"><span th:text="${#numbers.formatInteger(stateData.total.deceased,1,'COMMA')}"></span></td>
                    <td class="disp hide val warning"><span th:text="${#numbers.formatInteger(stateData.delta.confirmed,1,'COMMA')}"></span></td>
                    <td class="disp hide positive"><span th:text="${#numbers.formatInteger(stateData.delta.recovered,1,'COMMA')}"></span></td>
                    <td class="disp hide negative"><span th:text="${#numbers.formatInteger(stateData.delta.deceased,1,'COMMA')}"></span></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div id="json" hidden th:utext="${last30Days}"></div>
</div>
<div th:replace="fragments/components :: footer"></div>

<script src="/scripts/index.js"></script>
</body>
</html>